@{
    ViewBag.Titulo = "CIA Técnica";
}

@section JsAdicional {

    @*@Scripts.Render("~/Views/Home/home.estatisticas.js")*@
}
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default painel">
            <div class="panel-heading" style="text-align:center">Notificações</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>